/* 
File Name default.css
Version 3.0
Updated 03.14.14
Package ParentTheme
License GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */
/* Reset */
/* 
File Name: reset.css
Version: 3.0
Updated: 03.14.14
Package: ParentTheme
License: GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */
/* line 8, ../sass/reset.scss */
html { width: 100% !important; }

/* line 9, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* line 10, ../sass/reset.scss */
body { font-size: 62.5%; }

/* line 11, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

/* line 12, ../sass/reset.scss */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* line 13, ../sass/reset.scss */
audio:not([controls]) { display: none; }

/* line 14, ../sass/reset.scss */
[hidden] { display: none; }

/* line 15, ../sass/reset.scss */
img { -ms-interpolation-mode: bicubic; width: inherit; }

/* line 16, ../sass/reset.scss */
img#wpstats { width: 0px; height: 0px; padding: 0px; border: none; overflow: hidden; }

/* line 17, ../sass/reset.scss */
body { line-height: 1; text-align: center; min-height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* line 18, ../sass/reset.scss */
ol, ul { list-style: none; }

/* line 19, ../sass/reset.scss */
blockquote, q { quotes: none; }

/* line 20, ../sass/reset.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* line 21, ../sass/reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 22, ../sass/reset.scss */
td, th { vertical-align: top; }

/* line 23, ../sass/reset.scss */
strong { font-weight: bold; }

/* line 24, ../sass/reset.scss */
em { font-style: italic; }

/* line 25, ../sass/reset.scss */
ul.sortable li { cursor: move; }

/* line 26, ../sass/reset.scss */
input[type="submit"], input[type="button"], button, .trigger { cursor: pointer; }

/* line 30, ../sass/reset.scss */
.hide, .triggered { display: none; }

/* line 31, ../sass/reset.scss */
.aligncenter { float: none; margin: 0 auto; }

/* line 32, ../sass/reset.scss */
.alignright { float: right; }

/* line 33, ../sass/reset.scss */
.alignleft { float: left; }

/* line 34, ../sass/reset.scss */
.clear { display: block; clear: both; float: none; }

/* line 35, ../sass/reset.scss */
.no_border { border: none !important; }

/* line 36, ../sass/reset.scss */
.none, .ui-tabs .ui-tabs-hide, .ui-tabs-hide { display: none; }

/* line 37, ../sass/reset.scss */
br { height: 0; }

/* line 38, ../sass/reset.scss */
a img { border: none; }

/* line 39, ../sass/reset.scss */
legend { display: none; }

/* line 40, ../sass/reset.scss */
svg:not(:root) { overflow: hidden; }

/* clearfix */
/* line 42, ../sass/reset.scss */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }

/* line 43, ../sass/reset.scss */
.clearfix:after { clear: both; }

/* line 44, ../sass/reset.scss */
.clearfix { zoom: 1; }

/*** superfish ***/
/* line 46, ../sass/reset.scss */
.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }

/* line 47, ../sass/reset.scss */
.sf-menu { line-height: 1.0; }

/* line 48, ../sass/reset.scss */
.sf-menu ul { position: absolute; top: -999em; width: 10em; }

/* line 49, ../sass/reset.scss */
.sf-menu ul li { width: 100%; }

/* line 50, ../sass/reset.scss */
.sf-menu li:hover { visibility: inherit; }

/* line 51, ../sass/reset.scss */
.sf-menu li { float: left; position: relative; }

/* line 52, ../sass/reset.scss */
.sf-menu a { display: block; position: relative; }

/* line 53, ../sass/reset.scss */
.sf-menu li:hover ul, .sf-menu li.sfHover ul { left: 0; top: 1.8em; z-index: 99; }

/* line 55, ../sass/reset.scss */
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top: -999em; }

/* line 57, ../sass/reset.scss */
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left: 10em; top: 0; }

/* line 59, ../sass/reset.scss */
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top: -999em; }

/* line 61, ../sass/reset.scss */
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left: 10em; top: 0; }

/* line 63, ../sass/reset.scss */
.hentry { position: relative; }

/* line 64, ../sass/reset.scss */
.typekit-badge { display: none !important; }

/* line 65, ../sass/reset.scss */
* :focus { outline: 0; }

/* line 66, ../sass/reset.scss */
.fade { opacity: 0; -webkit-transition: opacity 0.15s linear; transition: opacity 0.15s linear; }

/* line 67, ../sass/reset.scss */
.fade.in { display: block; opacity: 1; }

/* line 68, ../sass/reset.scss */
.fade.out { display: none; }

/*!
 * Bootstrap Responsive v2.3.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
/* line 11, ../sass/bootstrap-responsive.scss */
.clearfix { *zoom: 1; }

/* line 15, ../sass/bootstrap-responsive.scss */
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }

/* line 22, ../sass/bootstrap-responsive.scss */
.clearfix:after { clear: both; }

/* line 26, ../sass/bootstrap-responsive.scss */
.hide-text { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

/* line 34, ../sass/bootstrap-responsive.scss */
.input-block-level { display: block; width: 100%; min-height: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@-ms-viewport { width: device-width; }
/* line 47, ../sass/bootstrap-responsive.scss */
.hidden { display: none; visibility: hidden; }

/* line 52, ../sass/bootstrap-responsive.scss */
.visible-phone { display: none !important; }

/* line 56, ../sass/bootstrap-responsive.scss */
.visible-tablet { display: none !important; }

/* line 60, ../sass/bootstrap-responsive.scss */
.hidden-desktop { display: none !important; }

/* line 64, ../sass/bootstrap-responsive.scss */
.visible-desktop { display: inherit !important; }

@media (min-width: 768px) and (max-width: 979px) { /* line 69, ../sass/bootstrap-responsive.scss */
  .hidden-desktop { display: inherit !important; }
  /* line 72, ../sass/bootstrap-responsive.scss */
  .visible-desktop { display: none !important; }
  /* line 75, ../sass/bootstrap-responsive.scss */
  .visible-tablet { display: inherit !important; }
  /* line 78, ../sass/bootstrap-responsive.scss */
  .hidden-tablet { display: none !important; } }
@media (max-width: 767px) { /* line 84, ../sass/bootstrap-responsive.scss */
  .hidden-desktop { display: inherit !important; }
  /* line 87, ../sass/bootstrap-responsive.scss */
  .visible-desktop { display: none !important; }
  /* line 90, ../sass/bootstrap-responsive.scss */
  .visible-phone { display: inherit !important; }
  /* line 93, ../sass/bootstrap-responsive.scss */
  .hidden-phone { display: none !important; } }
/* line 98, ../sass/bootstrap-responsive.scss */
.visible-print { display: none !important; }

@media print { /* line 103, ../sass/bootstrap-responsive.scss */
  .visible-print { display: inherit !important; }
  /* line 106, ../sass/bootstrap-responsive.scss */
  .hidden-print { display: none !important; } }
@media (min-width: 980px) { /* line 112, ../sass/bootstrap-responsive.scss */
  .row { margin-left: -30px; *zoom: 1; }
  /* line 116, ../sass/bootstrap-responsive.scss */
  .row:before, .row:after { display: table; line-height: 0; content: ""; }
  /* line 122, ../sass/bootstrap-responsive.scss */
  .row:after { clear: both; }
  /* line 125, ../sass/bootstrap-responsive.scss */
  [class*="span"] { float: left; min-height: 1px; margin-left: 30px; }
  /* line 130, ../sass/bootstrap-responsive.scss */
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 1170px; }
  /* line 136, ../sass/bootstrap-responsive.scss */
  .span12 { width: 1170px; }
  /* line 139, ../sass/bootstrap-responsive.scss */
  .span11 { width: 1070px; }
  /* line 142, ../sass/bootstrap-responsive.scss */
  .span10 { width: 970px; }
  /* line 145, ../sass/bootstrap-responsive.scss */
  .span9 { width: 870px; }
  /* line 148, ../sass/bootstrap-responsive.scss */
  .span8 { width: 770px; }
  /* line 151, ../sass/bootstrap-responsive.scss */
  .span7 { width: 670px; }
  /* line 154, ../sass/bootstrap-responsive.scss */
  .span6 { width: 570px; }
  /* line 157, ../sass/bootstrap-responsive.scss */
  .span5 { width: 470px; }
  /* line 160, ../sass/bootstrap-responsive.scss */
  .span4 { width: 370px; }
  /* line 163, ../sass/bootstrap-responsive.scss */
  .span3 { width: 270px; }
  /* line 166, ../sass/bootstrap-responsive.scss */
  .span2 { width: 170px; }
  /* line 169, ../sass/bootstrap-responsive.scss */
  .span1 { width: 70px; }
  /* line 172, ../sass/bootstrap-responsive.scss */
  .offset12 { margin-left: 1230px; }
  /* line 175, ../sass/bootstrap-responsive.scss */
  .offset11 { margin-left: 1130px; }
  /* line 178, ../sass/bootstrap-responsive.scss */
  .offset10 { margin-left: 1030px; }
  /* line 181, ../sass/bootstrap-responsive.scss */
  .offset9 { margin-left: 930px; }
  /* line 184, ../sass/bootstrap-responsive.scss */
  .offset8 { margin-left: 830px; }
  /* line 187, ../sass/bootstrap-responsive.scss */
  .offset7 { margin-left: 730px; }
  /* line 190, ../sass/bootstrap-responsive.scss */
  .offset6 { margin-left: 630px; }
  /* line 193, ../sass/bootstrap-responsive.scss */
  .offset5 { margin-left: 530px; }
  /* line 196, ../sass/bootstrap-responsive.scss */
  .offset4 { margin-left: 430px; }
  /* line 199, ../sass/bootstrap-responsive.scss */
  .offset3 { margin-left: 330px; }
  /* line 202, ../sass/bootstrap-responsive.scss */
  .offset2 { margin-left: 230px; }
  /* line 205, ../sass/bootstrap-responsive.scss */
  .offset1 { margin-left: 130px; }
  /* line 208, ../sass/bootstrap-responsive.scss */
  .row-fluid { width: 100%; *zoom: 1; }
  /* line 212, ../sass/bootstrap-responsive.scss */
  .row-fluid:before, .row-fluid:after { display: table; line-height: 0; content: ""; }
  /* line 218, ../sass/bootstrap-responsive.scss */
  .row-fluid:after { clear: both; }
  /* line 221, ../sass/bootstrap-responsive.scss */
  .row-fluid [class*="span"] { display: block; float: left; width: 100%; min-height: 30px; margin-left: 2.564102564102564%; *margin-left: 2.5109110747408616%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  /* line 232, ../sass/bootstrap-responsive.scss */
  .row-fluid [class*="span"]:first-child { margin-left: 0; }
  /* line 235, ../sass/bootstrap-responsive.scss */
  .row-fluid .controls-row [class*="span"] + [class*="span"] { margin-left: 2.564102564102564%; }
  /* line 238, ../sass/bootstrap-responsive.scss */
  .row-fluid .span12 { width: 100%; *width: 99.94680851063829%; }
  /* line 242, ../sass/bootstrap-responsive.scss */
  .row-fluid .span11 { width: 91.45299145299145%; *width: 91.39979996362975%; }
  /* line 246, ../sass/bootstrap-responsive.scss */
  .row-fluid .span10 { width: 82.90598290598291%; *width: 82.8527914166212%; }
  /* line 250, ../sass/bootstrap-responsive.scss */
  .row-fluid .span9 { width: 74.35897435897436%; *width: 74.30578286961266%; }
  /* line 254, ../sass/bootstrap-responsive.scss */
  .row-fluid .span8 { width: 65.81196581196582%; *width: 65.75877432260411%; }
  /* line 258, ../sass/bootstrap-responsive.scss */
  .row-fluid .span7 { width: 57.26495726495726%; *width: 57.21176577559556%; }
  /* line 262, ../sass/bootstrap-responsive.scss */
  .row-fluid .span6 { width: 48.717948717948715%; *width: 48.664757228587014%; }
  /* line 266, ../sass/bootstrap-responsive.scss */
  .row-fluid .span5 { width: 40.17094017094017%; *width: 40.11774868157847%; }
  /* line 270, ../sass/bootstrap-responsive.scss */
  .row-fluid .span4 { width: 31.623931623931625%; *width: 31.570740134569924%; }
  /* line 274, ../sass/bootstrap-responsive.scss */
  .row-fluid .span3 { width: 23.076923076923077%; *width: 23.023731587561375%; }
  /* line 278, ../sass/bootstrap-responsive.scss */
  .row-fluid .span2 { width: 14.52991452991453%; *width: 14.476723040552828%; }
  /* line 282, ../sass/bootstrap-responsive.scss */
  .row-fluid .span1 { width: 5.982905982905983%; *width: 5.929714493544281%; }
  /* line 286, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset12 { margin-left: 105.12820512820512%; *margin-left: 105.02182214948171%; }
  /* line 290, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset12:first-child { margin-left: 102.56410256410257%; *margin-left: 102.45771958537915%; }
  /* line 294, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset11 { margin-left: 96.58119658119658%; *margin-left: 96.47481360247316%; }
  /* line 298, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset11:first-child { margin-left: 94.01709401709402%; *margin-left: 93.91071103837061%; }
  /* line 302, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset10 { margin-left: 88.03418803418803%; *margin-left: 87.92780505546462%; }
  /* line 306, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset10:first-child { margin-left: 85.47008547008548%; *margin-left: 85.36370249136206%; }
  /* line 310, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset9 { margin-left: 79.48717948717949%; *margin-left: 79.38079650845607%; }
  /* line 314, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset9:first-child { margin-left: 76.92307692307693%; *margin-left: 76.81669394435352%; }
  /* line 318, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset8 { margin-left: 70.94017094017094%; *margin-left: 70.83378796144753%; }
  /* line 322, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset8:first-child { margin-left: 68.37606837606839%; *margin-left: 68.26968539734497%; }
  /* line 326, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset7 { margin-left: 62.393162393162385%; *margin-left: 62.28677941443899%; }
  /* line 330, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset7:first-child { margin-left: 59.82905982905982%; *margin-left: 59.72267685033642%; }
  /* line 334, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset6 { margin-left: 53.84615384615384%; *margin-left: 53.739770867430444%; }
  /* line 338, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset6:first-child { margin-left: 51.28205128205128%; *margin-left: 51.175668303327875%; }
  /* line 342, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset5 { margin-left: 45.299145299145295%; *margin-left: 45.1927623204219%; }
  /* line 346, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset5:first-child { margin-left: 42.73504273504273%; *margin-left: 42.62865975631933%; }
  /* line 350, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset4 { margin-left: 36.75213675213675%; *margin-left: 36.645753773413354%; }
  /* line 354, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset4:first-child { margin-left: 34.18803418803419%; *margin-left: 34.081651209310785%; }
  /* line 358, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset3 { margin-left: 28.205128205128204%; *margin-left: 28.0987452264048%; }
  /* line 362, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset3:first-child { margin-left: 25.641025641025642%; *margin-left: 25.53464266230224%; }
  /* line 366, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset2 { margin-left: 19.65811965811966%; *margin-left: 19.551736679396257%; }
  /* line 370, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset2:first-child { margin-left: 17.094017094017094%; *margin-left: 16.98763411529369%; }
  /* line 374, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset1 { margin-left: 11.11111111111111%; *margin-left: 11.004728132387708%; }
  /* line 378, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset1:first-child { margin-left: 8.547008547008547%; *margin-left: 8.440625568285142%; }
  /* line 382, ../sass/bootstrap-responsive.scss */
  input, textarea, .uneditable-input { margin-left: 0; }
  /* line 387, ../sass/bootstrap-responsive.scss */
  .controls-row [class*="span"] + [class*="span"] { margin-left: 30px; }
  /* line 390, ../sass/bootstrap-responsive.scss */
  input.span12, textarea.span12, .uneditable-input.span12 { width: 1156px; }
  /* line 395, ../sass/bootstrap-responsive.scss */
  input.span11, textarea.span11, .uneditable-input.span11 { width: 1056px; }
  /* line 400, ../sass/bootstrap-responsive.scss */
  input.span10, textarea.span10, .uneditable-input.span10 { width: 956px; }
  /* line 405, ../sass/bootstrap-responsive.scss */
  input.span9, textarea.span9, .uneditable-input.span9 { width: 856px; }
  /* line 410, ../sass/bootstrap-responsive.scss */
  input.span8, textarea.span8, .uneditable-input.span8 { width: 756px; }
  /* line 415, ../sass/bootstrap-responsive.scss */
  input.span7, textarea.span7, .uneditable-input.span7 { width: 656px; }
  /* line 420, ../sass/bootstrap-responsive.scss */
  input.span6, textarea.span6, .uneditable-input.span6 { width: 556px; }
  /* line 425, ../sass/bootstrap-responsive.scss */
  input.span5, textarea.span5, .uneditable-input.span5 { width: 456px; }
  /* line 430, ../sass/bootstrap-responsive.scss */
  input.span4, textarea.span4, .uneditable-input.span4 { width: 356px; }
  /* line 435, ../sass/bootstrap-responsive.scss */
  input.span3, textarea.span3, .uneditable-input.span3 { width: 256px; }
  /* line 440, ../sass/bootstrap-responsive.scss */
  input.span2, textarea.span2, .uneditable-input.span2 { width: 156px; }
  /* line 445, ../sass/bootstrap-responsive.scss */
  input.span1, textarea.span1, .uneditable-input.span1 { width: 56px; }
  /* line 450, ../sass/bootstrap-responsive.scss */
  .thumbnails { margin-left: -30px; }
  /* line 453, ../sass/bootstrap-responsive.scss */
  .thumbnails > li { margin-left: 30px; }
  /* line 456, ../sass/bootstrap-responsive.scss */
  .row-fluid .thumbnails { margin-left: 0; } }
@media (min-width: 768px) and (max-width: 979px) { /* line 462, ../sass/bootstrap-responsive.scss */
  .row { margin-left: -20px; *zoom: 1; }
  /* line 466, ../sass/bootstrap-responsive.scss */
  .row:before, .row:after { display: table; line-height: 0; content: ""; }
  /* line 472, ../sass/bootstrap-responsive.scss */
  .row:after { clear: both; }
  /* line 475, ../sass/bootstrap-responsive.scss */
  [class*="span"] { float: left; min-height: 1px; margin-left: 20px; }
  /* line 480, ../sass/bootstrap-responsive.scss */
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 724px; }
  /* line 486, ../sass/bootstrap-responsive.scss */
  .span12 { width: 724px; }
  /* line 489, ../sass/bootstrap-responsive.scss */
  .span11 { width: 662px; }
  /* line 492, ../sass/bootstrap-responsive.scss */
  .span10 { width: 600px; }
  /* line 495, ../sass/bootstrap-responsive.scss */
  .span9 { width: 538px; }
  /* line 498, ../sass/bootstrap-responsive.scss */
  .span8 { width: 476px; }
  /* line 501, ../sass/bootstrap-responsive.scss */
  .span7 { width: 414px; }
  /* line 504, ../sass/bootstrap-responsive.scss */
  .span6 { width: 352px; }
  /* line 507, ../sass/bootstrap-responsive.scss */
  .span5 { width: 290px; }
  /* line 510, ../sass/bootstrap-responsive.scss */
  .span4 { width: 228px; }
  /* line 513, ../sass/bootstrap-responsive.scss */
  .span3 { width: 166px; }
  /* line 516, ../sass/bootstrap-responsive.scss */
  .span2 { width: 104px; }
  /* line 519, ../sass/bootstrap-responsive.scss */
  .span1 { width: 42px; }
  /* line 522, ../sass/bootstrap-responsive.scss */
  .offset12 { margin-left: 764px; }
  /* line 525, ../sass/bootstrap-responsive.scss */
  .offset11 { margin-left: 702px; }
  /* line 528, ../sass/bootstrap-responsive.scss */
  .offset10 { margin-left: 640px; }
  /* line 531, ../sass/bootstrap-responsive.scss */
  .offset9 { margin-left: 578px; }
  /* line 534, ../sass/bootstrap-responsive.scss */
  .offset8 { margin-left: 516px; }
  /* line 537, ../sass/bootstrap-responsive.scss */
  .offset7 { margin-left: 454px; }
  /* line 540, ../sass/bootstrap-responsive.scss */
  .offset6 { margin-left: 392px; }
  /* line 543, ../sass/bootstrap-responsive.scss */
  .offset5 { margin-left: 330px; }
  /* line 546, ../sass/bootstrap-responsive.scss */
  .offset4 { margin-left: 268px; }
  /* line 549, ../sass/bootstrap-responsive.scss */
  .offset3 { margin-left: 206px; }
  /* line 552, ../sass/bootstrap-responsive.scss */
  .offset2 { margin-left: 144px; }
  /* line 555, ../sass/bootstrap-responsive.scss */
  .offset1 { margin-left: 82px; }
  /* line 558, ../sass/bootstrap-responsive.scss */
  .row-fluid { width: 100%; *zoom: 1; }
  /* line 562, ../sass/bootstrap-responsive.scss */
  .row-fluid:before, .row-fluid:after { display: table; line-height: 0; content: ""; }
  /* line 568, ../sass/bootstrap-responsive.scss */
  .row-fluid:after { clear: both; }
  /* line 571, ../sass/bootstrap-responsive.scss */
  .row-fluid [class*="span"] { display: block; float: left; width: 100%; min-height: 30px; margin-left: 2.7624309392265194%; *margin-left: 2.709239449864817%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  /* line 582, ../sass/bootstrap-responsive.scss */
  .row-fluid [class*="span"]:first-child { margin-left: 0; }
  /* line 585, ../sass/bootstrap-responsive.scss */
  .row-fluid .controls-row [class*="span"] + [class*="span"] { margin-left: 2.7624309392265194%; }
  /* line 588, ../sass/bootstrap-responsive.scss */
  .row-fluid .span12 { width: 100%; *width: 99.94680851063829%; }
  /* line 592, ../sass/bootstrap-responsive.scss */
  .row-fluid .span11 { width: 91.43646408839778%; *width: 91.38327259903608%; }
  /* line 596, ../sass/bootstrap-responsive.scss */
  .row-fluid .span10 { width: 82.87292817679558%; *width: 82.81973668743387%; }
  /* line 600, ../sass/bootstrap-responsive.scss */
  .row-fluid .span9 { width: 74.30939226519337%; *width: 74.25620077583166%; }
  /* line 604, ../sass/bootstrap-responsive.scss */
  .row-fluid .span8 { width: 65.74585635359117%; *width: 65.69266486422946%; }
  /* line 608, ../sass/bootstrap-responsive.scss */
  .row-fluid .span7 { width: 57.18232044198895%; *width: 57.12912895262725%; }
  /* line 612, ../sass/bootstrap-responsive.scss */
  .row-fluid .span6 { width: 48.61878453038674%; *width: 48.56559304102504%; }
  /* line 616, ../sass/bootstrap-responsive.scss */
  .row-fluid .span5 { width: 40.05524861878453%; *width: 40.00205712942283%; }
  /* line 620, ../sass/bootstrap-responsive.scss */
  .row-fluid .span4 { width: 31.491712707182323%; *width: 31.43852121782062%; }
  /* line 624, ../sass/bootstrap-responsive.scss */
  .row-fluid .span3 { width: 22.92817679558011%; *width: 22.87498530621841%; }
  /* line 628, ../sass/bootstrap-responsive.scss */
  .row-fluid .span2 { width: 14.3646408839779%; *width: 14.311449394616199%; }
  /* line 632, ../sass/bootstrap-responsive.scss */
  .row-fluid .span1 { width: 5.801104972375691%; *width: 5.747913483013988%; }
  /* line 636, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset12 { margin-left: 105.52486187845304%; *margin-left: 105.41847889972962%; }
  /* line 640, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset12:first-child { margin-left: 102.76243093922652%; *margin-left: 102.6560479605031%; }
  /* line 644, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset11 { margin-left: 96.96132596685082%; *margin-left: 96.8549429881274%; }
  /* line 648, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset11:first-child { margin-left: 94.1988950276243%; *margin-left: 94.09251204890089%; }
  /* line 652, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset10 { margin-left: 88.39779005524862%; *margin-left: 88.2914070765252%; }
  /* line 656, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset10:first-child { margin-left: 85.6353591160221%; *margin-left: 85.52897613729868%; }
  /* line 660, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset9 { margin-left: 79.8342541436464%; *margin-left: 79.72787116492299%; }
  /* line 664, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset9:first-child { margin-left: 77.07182320441989%; *margin-left: 76.96544022569647%; }
  /* line 668, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset8 { margin-left: 71.2707182320442%; *margin-left: 71.16433525332079%; }
  /* line 672, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset8:first-child { margin-left: 68.50828729281768%; *margin-left: 68.40190431409427%; }
  /* line 676, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset7 { margin-left: 62.70718232044199%; *margin-left: 62.600799341718584%; }
  /* line 680, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset7:first-child { margin-left: 59.94475138121547%; *margin-left: 59.838368402492065%; }
  /* line 684, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset6 { margin-left: 54.14364640883978%; *margin-left: 54.037263430116376%; }
  /* line 688, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset6:first-child { margin-left: 51.38121546961326%; *margin-left: 51.27483249088986%; }
  /* line 692, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset5 { margin-left: 45.58011049723757%; *margin-left: 45.47372751851417%; }
  /* line 696, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset5:first-child { margin-left: 42.81767955801105%; *margin-left: 42.71129657928765%; }
  /* line 700, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset4 { margin-left: 37.01657458563536%; *margin-left: 36.91019160691196%; }
  /* line 704, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset4:first-child { margin-left: 34.25414364640884%; *margin-left: 34.14776066768544%; }
  /* line 708, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset3 { margin-left: 28.45303867403315%; *margin-left: 28.346655695309746%; }
  /* line 712, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset3:first-child { margin-left: 25.69060773480663%; *margin-left: 25.584224756083227%; }
  /* line 716, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset2 { margin-left: 19.88950276243094%; *margin-left: 19.783119783707537%; }
  /* line 720, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset2:first-child { margin-left: 17.12707182320442%; *margin-left: 17.02068884448102%; }
  /* line 724, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset1 { margin-left: 11.32596685082873%; *margin-left: 11.219583872105325%; }
  /* line 728, ../sass/bootstrap-responsive.scss */
  .row-fluid .offset1:first-child { margin-left: 8.56353591160221%; *margin-left: 8.457152932878806%; }
  /* line 732, ../sass/bootstrap-responsive.scss */
  input, textarea, .uneditable-input { margin-left: 0; }
  /* line 737, ../sass/bootstrap-responsive.scss */
  .controls-row [class*="span"] + [class*="span"] { margin-left: 20px; }
  /* line 740, ../sass/bootstrap-responsive.scss */
  input.span12, textarea.span12, .uneditable-input.span12 { width: 710px; }
  /* line 745, ../sass/bootstrap-responsive.scss */
  input.span11, textarea.span11, .uneditable-input.span11 { width: 648px; }
  /* line 750, ../sass/bootstrap-responsive.scss */
  input.span10, textarea.span10, .uneditable-input.span10 { width: 586px; }
  /* line 755, ../sass/bootstrap-responsive.scss */
  input.span9, textarea.span9, .uneditable-input.span9 { width: 524px; }
  /* line 760, ../sass/bootstrap-responsive.scss */
  input.span8, textarea.span8, .uneditable-input.span8 { width: 462px; }
  /* line 765, ../sass/bootstrap-responsive.scss */
  input.span7, textarea.span7, .uneditable-input.span7 { width: 400px; }
  /* line 770, ../sass/bootstrap-responsive.scss */
  input.span6, textarea.span6, .uneditable-input.span6 { width: 338px; }
  /* line 775, ../sass/bootstrap-responsive.scss */
  input.span5, textarea.span5, .uneditable-input.span5 { width: 276px; }
  /* line 780, ../sass/bootstrap-responsive.scss */
  input.span4, textarea.span4, .uneditable-input.span4 { width: 214px; }
  /* line 785, ../sass/bootstrap-responsive.scss */
  input.span3, textarea.span3, .uneditable-input.span3 { width: 152px; }
  /* line 790, ../sass/bootstrap-responsive.scss */
  input.span2, textarea.span2, .uneditable-input.span2 { width: 90px; }
  /* line 795, ../sass/bootstrap-responsive.scss */
  input.span1, textarea.span1, .uneditable-input.span1 { width: 28px; } }
@media (max-width: 767px) { /* line 803, ../sass/bootstrap-responsive.scss */
  body { padding-right: 20px; padding-left: 20px; }
  /* line 807, ../sass/bootstrap-responsive.scss */
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin-right: -20px; margin-left: -20px; }
  /* line 813, ../sass/bootstrap-responsive.scss */
  .container-fluid { padding: 0; }
  /* line 816, ../sass/bootstrap-responsive.scss */
  .dl-horizontal dt { float: none; width: auto; clear: none; text-align: left; }
  /* line 822, ../sass/bootstrap-responsive.scss */
  .dl-horizontal dd { margin-left: 0; }
  /* line 825, ../sass/bootstrap-responsive.scss */
  .container { width: auto; }
  /* line 828, ../sass/bootstrap-responsive.scss */
  .row-fluid { width: 100%; }
  /* line 831, ../sass/bootstrap-responsive.scss */
  .row, .thumbnails { margin-left: 0; }
  /* line 835, ../sass/bootstrap-responsive.scss */
  .thumbnails > li { float: none; margin-left: 0; }
  /* line 839, ../sass/bootstrap-responsive.scss */
  [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] { display: block; float: none; width: 100%; margin-left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  /* line 850, ../sass/bootstrap-responsive.scss */
  .span12, .row-fluid .span12 { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  /* line 857, ../sass/bootstrap-responsive.scss */
  .row-fluid [class*="offset"]:first-child { margin-left: 0; }
  /* line 860, ../sass/bootstrap-responsive.scss */
  .input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input { display: block; width: 100%; min-height: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  /* line 874, ../sass/bootstrap-responsive.scss */
  .input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] { display: inline-block; width: auto; }
  /* line 881, ../sass/bootstrap-responsive.scss */
  .controls-row [class*="span"] + [class*="span"] { margin-left: 0; }
  /* line 884, ../sass/bootstrap-responsive.scss */
  .modal { position: fixed; top: 20px; right: 20px; left: 20px; width: auto; margin: 0; }
  /* line 892, ../sass/bootstrap-responsive.scss */
  .modal.fade { top: -100px; }
  /* line 895, ../sass/bootstrap-responsive.scss */
  .modal.fade.in { top: 20px; } }
@media (max-width: 480px) { /* line 901, ../sass/bootstrap-responsive.scss */
  .nav-collapse { -webkit-transform: translate3d(0, 0, 0); }
  /* line 904, ../sass/bootstrap-responsive.scss */
  .page-header h1 small { display: block; line-height: 20px; }
  /* line 908, ../sass/bootstrap-responsive.scss */
  input[type="checkbox"], input[type="radio"] { border: 1px solid #ccc; }
  /* line 912, ../sass/bootstrap-responsive.scss */
  .form-horizontal .control-label { float: none; width: auto; padding-top: 0; text-align: left; }
  /* line 918, ../sass/bootstrap-responsive.scss */
  .form-horizontal .controls { margin-left: 0; }
  /* line 921, ../sass/bootstrap-responsive.scss */
  .form-horizontal .control-list { padding-top: 0; }
  /* line 924, ../sass/bootstrap-responsive.scss */
  .form-horizontal .form-actions { padding-right: 10px; padding-left: 10px; }
  /* line 928, ../sass/bootstrap-responsive.scss */
  .media .pull-left, .media .pull-right { display: block; float: none; margin-bottom: 10px; }
  /* line 934, ../sass/bootstrap-responsive.scss */
  .media-object { margin-right: 0; margin-left: 0; }
  /* line 938, ../sass/bootstrap-responsive.scss */
  .modal { top: 10px; right: 10px; left: 10px; }
  /* line 943, ../sass/bootstrap-responsive.scss */
  .modal-header .close { padding: 10px; margin: -10px; }
  /* line 947, ../sass/bootstrap-responsive.scss */
  .carousel-caption { position: static; } }
@media (max-width: 979px) { /* line 953, ../sass/bootstrap-responsive.scss */
  body { padding-top: 0; }
  /* line 956, ../sass/bootstrap-responsive.scss */
  .navbar-fixed-top, .navbar-fixed-bottom { position: static; }
  /* line 960, ../sass/bootstrap-responsive.scss */
  .navbar-fixed-top { margin-bottom: 20px; }
  /* line 963, ../sass/bootstrap-responsive.scss */
  .navbar-fixed-bottom { margin-top: 20px; }
  /* line 966, ../sass/bootstrap-responsive.scss */
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding: 5px; }
  /* line 970, ../sass/bootstrap-responsive.scss */
  .navbar .container { width: auto; padding: 0; }
  /* line 974, ../sass/bootstrap-responsive.scss */
  .navbar .brand { padding-right: 10px; padding-left: 10px; margin: 0 0 0 -5px; }
  /* line 979, ../sass/bootstrap-responsive.scss */
  .nav-collapse { clear: both; }
  /* line 982, ../sass/bootstrap-responsive.scss */
  .nav-collapse .nav { float: none; margin: 0 0 10px; }
  /* line 986, ../sass/bootstrap-responsive.scss */
  .nav-collapse .nav > li { float: none; }
  /* line 989, ../sass/bootstrap-responsive.scss */
  .nav-collapse .nav > li > a { margin-bottom: 2px; }
  /* line 992, ../sass/bootstrap-responsive.scss */
  .nav-collapse .nav > .divider-vertical { display: none; }
  /* line 995, ../sass/bootstrap-responsive.scss */
  .nav-collapse .nav .nav-header { color: #777777; text-shadow: none; }
  /* line 999, ../sass/bootstrap-responsive.scss */
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { padding: 9px 15px; font-weight: bold; color: #777777; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
  /* line 1008, ../sass/bootstrap-responsive.scss */
  .nav-collapse .btn { padding: 4px 10px 4px; font-weight: normal; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
  /* line 1015, ../sass/bootstrap-responsive.scss */
  .nav-collapse .dropdown-menu li + li a { margin-bottom: 2px; }
  /* line 1018, ../sass/bootstrap-responsive.scss */
  .nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus { background-color: #f2f2f2; }
  /* line 1024, ../sass/bootstrap-responsive.scss */
  .navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a { color: #999999; }
  /* line 1028, ../sass/bootstrap-responsive.scss */
  .navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus { background-color: #111111; }
  /* line 1034, ../sass/bootstrap-responsive.scss */
  .nav-collapse.in .btn-group { padding: 0; margin-top: 5px; }
  /* line 1038, ../sass/bootstrap-responsive.scss */
  .nav-collapse .dropdown-menu { position: static; top: auto; left: auto; display: none; float: none; max-width: none; padding: 0; margin: 0 15px; background-color: transparent; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
  /* line 1056, ../sass/bootstrap-responsive.scss */
  .nav-collapse .open > .dropdown-menu { display: block; }
  /* line 1059, ../sass/bootstrap-responsive.scss */
  .nav-collapse .dropdown-menu:before, .nav-collapse .dropdown-menu:after { display: none; }
  /* line 1063, ../sass/bootstrap-responsive.scss */
  .nav-collapse .dropdown-menu .divider { display: none; }
  /* line 1066, ../sass/bootstrap-responsive.scss */
  .nav-collapse .nav > li > .dropdown-menu:before, .nav-collapse .nav > li > .dropdown-menu:after { display: none; }
  /* line 1070, ../sass/bootstrap-responsive.scss */
  .nav-collapse .navbar-form, .nav-collapse .navbar-search { float: none; padding: 10px 15px; margin: 10px 0; border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); }
  /* line 1081, ../sass/bootstrap-responsive.scss */
  .navbar-inverse .nav-collapse .navbar-form, .navbar-inverse .nav-collapse .navbar-search { border-top-color: #111111; border-bottom-color: #111111; }
  /* line 1086, ../sass/bootstrap-responsive.scss */
  .navbar .nav-collapse .nav.pull-right { float: none; margin-left: 0; }
  /* line 1090, ../sass/bootstrap-responsive.scss */
  .nav-collapse, .nav-collapse.collapse { height: 0; overflow: hidden; }
  /* line 1095, ../sass/bootstrap-responsive.scss */
  .navbar .btn-navbar { display: block; }
  /* line 1098, ../sass/bootstrap-responsive.scss */
  .navbar-static .navbar-inner { padding-right: 10px; padding-left: 10px; } }
@media (min-width: 980px) { /* line 1105, ../sass/bootstrap-responsive.scss */
  .nav-collapse.collapse { height: auto !important; overflow: visible !important; } }
/* Padding */
/* Paragraph */
/* Title */
/*Custom font*/
/* Block */
/*Colors*/
/*mixin*/
/*Hide Admin*/
/* line 66, ../sass/default.scss */
#wp-admin-bar-search, #wp-admin-bar-comments, #wp-admin-bar-new-post, #wp-admin-bar-wp-logo { display: none; }

/* line 72, ../sass/default.scss */
body { line-height: 18px; font-family: Verdana, sans-serif; height: 100%; }

/* line 73, ../sass/default.scss */
#page { position: relative; font-size: 12px; height: 100%; }

/* line 74, ../sass/default.scss */
.outer-wrap { position: relative; height: 100%; }

/* line 75, ../sass/default.scss */
.inner-wrap { max-width: 1024px; padding-left: 10px; padding-right: 10px; position: relative; margin: 0 auto; text-align: left; }

/* line 77, ../sass/default.scss */
a, a:visited { text-decoration: none; }

/* line 79, ../sass/default.scss */
.lrg-txt, .h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 { color: #183477; font-family: Verdana, sans-serif; font-weight: 800; display: block; line-height: 1.1em; padding-bottom: 10px; padding-top: 5px; }

/* line 84, ../sass/default.scss */
.h1, h1 { font-size: 13px; }

/* line 85, ../sass/default.scss */
.h2, h2 { font-size: 13px; }

/* line 86, ../sass/default.scss */
.h3, h3 { font-size: 13px; }

/* line 87, ../sass/default.scss */
.h4, h4 { font-size: 13px; }

/* line 88, ../sass/default.scss */
.h5, h5 { font-size: 13px; }

/* line 89, ../sass/default.scss */
.h6, h6 { font-size: 13px; }

/* line 91, ../sass/default.scss */
.lrg-txt { font-size: 19px; line-height: 29px; }

/* line 95, ../sass/default.scss */
.pmpro_hidden { display: none; }

/* Forms
#################################################################################################### */
/* 
File Name: responsive.css
Version: 1.2
Updated: 08.16.13
Package: ParentTheme_VC
License: GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */
/* line 12, ../sass/gmw-reset.scss */
#gmw-form-wrap div.gmw-form-wrapper input[type="text"] { margin: 0; padding: 0; }

/* line 105, ../sass/default.scss */
textarea, input[type="text"], input[type="password"], input[type="email"], input[type="submit"] { font-size: 12px; font-family: Verdana, sans-serif; line-height: 18px; width: 97%; border: solid 1px #aaaaaa; border-top-color: #666666; padding: 3px 1%; }

/* line 114, ../sass/default.scss */
textarea { height: 100px; }

/* line 115, ../sass/default.scss */
label.error { color: red; }

/* remove webkit css
select, input, textarea { -webkit-appearance: none; }*/
/* line 130, ../sass/default.scss */
.gmw-address-field-wrapper, .gmw-submit-wrapper { display: inline-block; }
/* line 132, ../sass/default.scss */
.gmw-address-field-wrapper input, .gmw-submit-wrapper input { display: inline-block; }

/* Buttons
#################################################################################################### */
/* line 142, ../sass/default.scss */
.btn, input.gmw-submit, input[type="submit"], input[type="button"] { cursor: pointer; display: inline-block; padding: 5px 10px; background: #dddddd; border: none; font-size: 12px; font-family: Verdana, sans-serif; }

/* line 147, ../sass/default.scss */
.btn-orange { font-weight: 800; font-style: italic; color: #183477; padding: 2.5px 15px; background: #fee4af; border: solid 1px #ffaa55; -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; border-radius: 1000px; }

/* line 151, ../sass/default.scss */
input.gmw-submit, .btn-red { text-transform: uppercase; color: #fff; padding: 2.5px 15px; background: #742616; -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; border-radius: 1000px; }

/* line 156, ../sass/default.scss */
.btn-sml { padding: 2.5px; }

/* line 159, ../sass/default.scss */
#gmw-form-wrap input.gmw-address { text-indent: 7px; line-height: 30px; display: inline-block; }
/* line 160, ../sass/default.scss */
#gmw-form-wrap .gmw-submit-wrapper { margin-left: 5px; display: inline-block; }
/* line 162, ../sass/default.scss */
#gmw-form-wrap .gmw-submit-wrapper input.gmw-submit { padding: 5px; }

/* General Links
#################################################################################################### */
/* Main Navigation Links */
/* line 176, ../sass/default.scss */
#primary-navigation { text-align: right; }
/* line 178, ../sass/default.scss */
#primary-navigation li { display: inline-block; }
/* line 179, ../sass/default.scss */
#primary-navigation a { font-family: Georgia, sans-serif; text-transform: uppercase; color: #000; line-height: 14px; display: inline-block; padding: 0 0 0 10px; margin: 0 10px 0 0; border-left: solid 1px #000; }
/* line 184, ../sass/default.scss */
#primary-navigation li:first-child a { border: none; }

/* footer-navigation */
/* line 191, ../sass/default.scss */
#footer-navigation li { display: inline-block; }
/* line 192, ../sass/default.scss */
#footer-navigation a { display: inline-block; padding: 0 2.5px; margin: 0 2.5px; }

/* Navigation */
/* line 197, ../sass/default.scss */
.navigation-post { display: block; clear: both; text-align: left; padding: 2.5px 5px; }
/* line 199, ../sass/default.scss */
.navigation-post .prev-post { padding-left: 5px; }
/* line 200, ../sass/default.scss */
.navigation-post .next-post { padding-right: 5px; }

/* line 204, ../sass/default.scss */
.wp-pagenavi a, .wp-pagenavi span { padding: 3px 4px; margin: 3px; }

/* line 207, ../sass/default.scss */
#navigation-breadcrumb { font-weight: bold; padding-bottom: 3px; display: block; clear: both; }

/* line 208, ../sass/default.scss */
.navigation-posts { font-weight: bold; padding-bottom: 3px; display: block; clear: both; text-align: center; }

/* Post, Page & General Loops
#################################################################################################### */
/* line 218, ../sass/default.scss */
.hentry { position: relative; }

/* line 219, ../sass/default.scss */
#loop-default { padding-bottom: 40px; }
/* line 221, ../sass/default.scss */
#loop-default .hentry { padding: 40px 0 20px 0; }
/* line 222, ../sass/default.scss */
#loop-default .hentry:first-child { padding: 0 0 20px 0; }

/* Meta Data */
/* line 228, ../sass/default.scss */
.meta-data { color: #868789; font-family: Georgia, sans-serif; }

/* line 230, ../sass/default.scss */
.post-comments { padding: 0 10px 0 0; }

/* line 231, ../sass/default.scss */
.post-date { padding: 0 10px 0 0; }

/* line 232, ../sass/default.scss */
.read-more-dots { display: none; }

/* Entry - Excerpt */
/* line 238, ../sass/default.scss */
#loop-default .entry { clear: both; }
/* line 239, ../sass/default.scss */
#loop-default .excerpt { clear: none; padding: 0; }

/* line 242, ../sass/default.scss */
a.read_more { text-decoration: underline; font-style: italic; display: block; }

/* line 245, ../sass/default.scss */
.entry .aligncenter { display: block; margin: 0 auto 10px; }
/* line 246, ../sass/default.scss */
.entry .alignnone { clear: both; float: none; }
/* line 247, ../sass/default.scss */
.entry .alignleft { margin-right: 10px; margin-bottom: 3px; }
/* line 248, ../sass/default.scss */
.entry .alignright { margin-left: 10px; margin-bottom: 3px; }
/* line 249, ../sass/default.scss */
.entry img { max-width: 100% !important; height: auto !important; }
/* line 250, ../sass/default.scss */
.entry img.wp-smiley { border: none; margin: 0; padding: 0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
/* line 251, ../sass/default.scss */
.entry p { padding-bottom: 20px; }
/* line 253, ../sass/default.scss */
.entry blockquote p { padding: 0; margin: 10px 30px 15px 15px; }
/* line 255, ../sass/default.scss */
.entry ol, .entry ul { margin: 10px 0 20px 20px; }
/* line 256, ../sass/default.scss */
.entry ul { list-style: disc; }
/* line 257, ../sass/default.scss */
.entry ol { list-style: decimal; }
/* line 258, ../sass/default.scss */
.entry li { padding-bottom: 7px; }
/* line 260, ../sass/default.scss */
.entry small { font-size: 11px; }
/* line 261, ../sass/default.scss */
.entry table { line-height: 18px; }
/* line 263, ../sass/default.scss */
.entry table th, .entry table td { padding: 5px; vertical-align: top; border-right: solid 1px #fff; }
/* line 264, ../sass/default.scss */
.entry table th { background: whitesmoke; }

/*end .entry */
/* line 268, ../sass/default.scss */
.excerpt p { padding-bottom: 20px; }

/* Gallery Shortcode */
/* line 274, ../sass/default.scss */
.gallery dl.gallery-item { display: block; float: left; }

/* line 281, ../sass/default.scss */
.wp-caption { max-width: 96%; display: block; text-align: center !important; padding: 5px; background: #eee; }
/* line 283, ../sass/default.scss */
.wp-caption p { font-size: 11px; line-height: 14px; padding: 5px 0 7px; }
/* line 284, ../sass/default.scss */
.wp-caption img { display: inline; }

/* All sitemap style layouts - search, 404, sitemap */
/* line 291, ../sass/default.scss */
.layout-sitemap .display-list { margin: 0 2% 20px 0; width: 48%; float: left; }
/* line 294, ../sass/default.scss */
.layout-sitemap .display-list ul { margin: 10px 0 0 0; }
/* line 295, ../sass/default.scss */
.layout-sitemap .display-list ul ul { margin: 0 0 7px 15px; list-style: disc; }
/* line 296, ../sass/default.scss */
.layout-sitemap .display-list ul ul.children { padding: 0; margin-left: 15px; list-style: disc; }
/* line 298, ../sass/default.scss */
.layout-sitemap .display-list .site-search { display: block; padding-bottom: 10px; }

/* Widget Areas
#################################################################################################### */
/* line 310, ../sass/default.scss */
.sidebar ul li { margin-bottom: 10px; }
/* line 311, ../sass/default.scss */
.sidebar ul li li { margin: 0; }

/*Books*/
/* line 321, ../sass/default.scss */
.hentry-book { float: left; line-height: 16px; height: 245px; overflow: hidden; text-align: center; }
/* line 323, ../sass/default.scss */
.hentry-book img { width: 128px; height: 195px; display: block; margin: 0 auto; }
/* line 324, ../sass/default.scss */
.hentry-book a { display: block; }
/* line 325, ../sass/default.scss */
.hentry-book .post-wrap { padding: 5px; }

/* Blocks
#################################################################################################### */
/* line 335, ../sass/default.scss */
#header { padding-bottom: 10px; }
/* line 337, ../sass/default.scss */
#header .logo-text-full { max-width: 240px; height: auto; padding: 10px 20px 0; }
/* line 338, ../sass/default.scss */
#header .img-header { max-width: 100%; height: auto; padding: 2.5px 0 0; }
/* line 339, ../sass/default.scss */
#header strong { color: #183477; }
/* line 341, ../sass/default.scss */
#header .top-right { float: right; padding: 10px; }
/* line 343, ../sass/default.scss */
#header .top-right a, #header .top-right .meta-data { display: inline-block; margin: 0 2.5px; vertical-align: middle; }
/* line 344, ../sass/default.scss */
#header .top-right a.ic { font-size: 30px; color: #dddddd; }

/* line 348, ../sass/default.scss */
#footer .inner-wrap { text-align: center; padding: 40px 0 20px; }

/* line 352, ../sass/default.scss */
#loop-books { text-align: center; }
/* line 354, ../sass/default.scss */
#loop-books .hentry-book { width: 50%; }
/* line 355, ../sass/default.scss */
#loop-books .link { height: auto; }

/* line 357, ../sass/default.scss */
#loop-sponsors { text-align: center; }
/* line 359, ../sass/default.scss */
#loop-sponsors .hentry { padding-top: 10px; }

/* tax-books, page-template-taxonomy-books-php
#################################################################################################### */
/* line 371, ../sass/default.scss */
body.author-book-directory #loop-default { padding-bottom: 0; }
/* line 372, ../sass/default.scss */
body.author-book-directory #links-author-books-directory { font-size: 16px; padding-bottom: 20px; }
/* line 374, ../sass/default.scss */
body.author-book-directory #links-author-books-directory li { display: inline-block; padding: 0 5px; }
/* line 377, ../sass/default.scss */
body.author-book-directory #loop-archive-author-books .hentry-book { width: 160px; }

/* body.tax-resources
#################################################################################################### */
/* line 390, ../sass/default.scss */
body.tax-resources #list-resources { padding-top: 10px; }
/* line 392, ../sass/default.scss */
body.tax-resources #list-resources ul { padding-bottom: 20px; }

/* body.page-template-tpl-search-php
#################################################################################################### */
/* line 405, ../sass/default.scss */
body.page-template-tpl-search-php #loop-default .hentry:first-child { padding-bottom: 0; }

/* body.page-template-tpl-search-results-php
#################################################################################################### */
/* line 417, ../sass/default.scss */
body.page-template-tpl-search-results-php .results-count, body.single-book-club .results-count { font-weight: 800; padding: 0 0 20px; color: #183477; }
/* line 419, ../sass/default.scss */
body.page-template-tpl-search-results-php #loop-default .hentry, body.single-book-club #loop-default .hentry { padding-top: 20px; }
/* line 420, ../sass/default.scss */
body.page-template-tpl-search-results-php #loop-default .hentry:first-child, body.single-book-club #loop-default .hentry:first-child { padding-top: 0; }
/* line 421, ../sass/default.scss */
body.page-template-tpl-search-results-php #loop-default .lrg-txt, body.single-book-club #loop-default .lrg-txt { padding-bottom: 0; }
/* line 423, ../sass/default.scss */
body.page-template-tpl-search-results-php #loop-default .lrg-txt a, body.single-book-club #loop-default .lrg-txt a { color: #000; }
/* line 424, ../sass/default.scss */
body.page-template-tpl-search-results-php #loop-default .lrg-txt .radius-dis, body.single-book-club #loop-default .lrg-txt .radius-dis { font-size: 12px; }
/* line 426, ../sass/default.scss */
body.page-template-tpl-search-results-php #loop-default .address, body.single-book-club #loop-default .address { font-weight: 800; padding-bottom: 10px; }
/* line 427, ../sass/default.scss */
body.page-template-tpl-search-results-php #loop-default .entry p:last-child, body.single-book-club #loop-default .entry p:last-child { padding-bottom: 0; }
/* line 428, ../sass/default.scss */
body.page-template-tpl-search-results-php #loop-default .entry, body.single-book-club #loop-default .entry { padding-bottom: 10px; }
/* line 429, ../sass/default.scss */
body.page-template-tpl-search-results-php #loop-default .email, body.single-book-club #loop-default .email { font-weight: 800; color: #183477; }
/* line 431, ../sass/default.scss */
body.page-template-tpl-search-results-php #loop-default .email .icon-envelope, body.single-book-club #loop-default .email .icon-envelope { font-size: 16px; position: relative; top: 2px; }
/* line 432, ../sass/default.scss */
body.page-template-tpl-search-results-php #loop-default .email a, body.single-book-club #loop-default .email a { color: #183477; }

/* Comments */
/* 
File Name comments.css
Version 1.0
Updated 03.14.14
Package ParentTheme
License GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */
/* line 9, ../sass/comments.scss */
#comments { margin-top: 45px; /*end .commentlist*/ }
/* line 12, ../sass/comments.scss */
#comments .comments-title { margin: 0 0 7px; }
/* line 13, ../sass/comments.scss */
#comments .navigation { display: block; clear: both; text-align: left; padding: 3px 7px; }
/* line 14, ../sass/comments.scss */
#comments .prev-page { padding-left: 7px; }
/* line 15, ../sass/comments.scss */
#comments .next-page { padding-right: 7px; }
/* line 17, ../sass/comments.scss */
#comments .commentlist { list-style: none; margin: 0 0 1em; padding: 0; text-indent: 0; }
/* line 19, ../sass/comments.scss */
#comments .commentlist li { padding-bottom: 22px; margin-bottom: 10px; }
/* line 21, ../sass/comments.scss */
#comments .commentlist li .vcard { font-style: normal; padding: 0 0 3px; font-weight: 200; font-size: 16px; letter-spacing: 1px; }
/* line 22, ../sass/comments.scss */
#comments .commentlist li .avatar { float: right; margin: 0 0 1em 1em; }
/* line 23, ../sass/comments.scss */
#comments .commentlist li .comment-meta { padding-bottom: 2px; }
/* line 24, ../sass/comments.scss */
#comments .commentlist li .comment-meta a { font-size: 12px; }
/* line 25, ../sass/comments.scss */
#comments .commentlist li ul { list-style: square; margin: 0 0 1em 2em; }
/* line 26, ../sass/comments.scss */
#comments .commentlist li .reply { text-align: right; }
/* line 27, ../sass/comments.scss */
#comments .commentlist li .reply a { text-decoration: underline; font-style: italic; padding-left: 10px; }
/* line 28, ../sass/comments.scss */
#comments .commentlist li ul.children { list-style: none; margin: 10px 0 0 0; text-indent: 0; }
/* line 30, ../sass/comments.scss */
#comments .commentlist li ul.children li { padding-bottom: 0; }

/*end #comments*/
/* line 38, ../sass/comments.scss */
#respond { /*end form*/ }
/* line 39, ../sass/comments.scss */
#respond #reply-title { margin: 0 0 7px; }
/* line 46, ../sass/comments.scss */
#respond form .form-block { padding-bottom: 7px; }
/* line 47, ../sass/comments.scss */
#respond form label { display: inline-block; width: 20%; }
/* line 48, ../sass/comments.scss */
#respond form .required { width: 0%; display: none; }
/* line 49, ../sass/comments.scss */
#respond form intput[type="text"] { display: inline-block; margin: 7px 0; width: 40% !important; }
/* line 52, ../sass/comments.scss */
#respond form .comment-notes, #respond form .comment-form-author, #respond form .comment-form-email, #respond form .comment-form-url, #respond form .comment-form-comment { padding-bottom: 7px; }
/* line 58, ../sass/comments.scss */
#respond form .comment-form-url label { display: inline-block; width: 21%; }
/* line 60, ../sass/comments.scss */
#respond form .button-submit { margin-top: 7px; }

/*end #respond*/
/*Responsive*/
/* 
File Name: responsive.css
Version: 1.2
Updated: 08.16.13
Package: ParentTheme_VC
License: GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */
/*end @media (max-width: 1024px)*/
/*end @media (max-width: 940px)*/
@media (max-width: 767px) { /* line 35, ../sass/responsive.scss */
  body { padding-left: 0; padding-right: 0; } }
/*end @media (max-width: 767px)*/
/*end @media (max-width: 568px)*/
/*end @media (max-width: 320px)*/
