/* 
File Name default.css
Version 3.0
Updated 03.14.14
Package ParentTheme
License GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */

/* Reset */
@import 'reset';
@import 'bootstrap-responsive';

/* Padding */
$p: 10px;

$font-size-small: 11px;
$font-size-lrg: 13px;
$font-size-lrg-ex: 16px;

/* Paragraph */
$font-paragraph: Verdana, sans-serif;
$font-paragraph-size: 12px;
$font-paragraph-line-height: 18px;

/* Title */
$font-title: Verdana, sans-serif;
$font-title-weight: 800; 
$font-title-line-height: 1.1em;

/*Custom font*/
$font-custom: Georgia, sans-serif;

/* Block */
$max-width-a: 1024px;

/*Colors*/
$color-error: red;

$color-gray-light-ex: #f5f5f5;
$color-gray-light: #ddd;
$color-gray-med: #868789;
$color-gray-drk: #5a5a5a;

$color-blue: #183477;
$color-blue-ex: #0000d0;

$color-red: #742616;

$color-light-a: #e7eaf1;
$color-light-b: #f3f5f8;

$color-yellow: #fee4af;
$color-orange: #ffaa55;

$border-color-a: #aaa;
$border-color-b: #666;

/*mixin*/
@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; border-radius: $radius; }
@mixin box-shadow($shadow) { box-shadow:$shadow; -moz-box-shadow:$shadow; -webkit-box-shadow:$shadow; -o-box-shadow:$shadow; }
@mixin filter-blur($filter) { filter:blur($filter); -webkit-filter:blur($filter); -moz-filter:blur($filter);-o-filter: blur(5px);-ms-filter:blur($filter); }
@mixin transition($transition) { -webkit-transition:$transition; -moz-transition:$transition; -o-transition:$transition; transition:$transition; }


/*Hide Admin*/
#wp-admin-bar-search,
#wp-admin-bar-comments,
#wp-admin-bar-new-post,
#wp-admin-bar-wp-logo { display:none; }


body { line-height:$font-paragraph-line-height; font-family:$font-paragraph; height:100%; }
#page { position:relative; font-size:$font-paragraph-size; height:100%; }
.outer-wrap { position:relative; height:100%; }
.inner-wrap { max-width:$max-width-a; padding-left:$p; padding-right:$p; position:relative; margin:0 auto; text-align:left; }

a, a:visited { text-decoration:none; }

.lrg-txt,
.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
	color:$color-blue; font-family:$font-title; font-weight:$font-title-weight; display:block; line-height:$font-title-line-height; 
	padding-bottom:$p; padding-top:($p/2);
}
.h1, h1 { font-size:$font-size-lrg; }
.h2, h2 { font-size:$font-size-lrg; }
.h3, h3 { font-size:$font-size-lrg; }
.h4, h4 { font-size:$font-size-lrg; }
.h5, h5 { font-size:$font-size-lrg; }
.h6, h6 { font-size:$font-size-lrg; }

.lrg-txt { font-size:19px; line-height:29px; }



.pmpro_hidden { display:none; }






/* Forms
#################################################################################################### */
@import 'gmw-reset';
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] { 
	font-size:$font-paragraph-size; font-family:$font-paragraph; line-height:$font-paragraph-line-height;
	width:97%;
	border:solid 1px $border-color-a; border-top-color:$border-color-b; padding:3px 1%;
}
textarea { height:100px; }
label.error { color:$color-error; }

/* remove webkit css
select, input, textarea { -webkit-appearance: none; }*/

::-webkit-input-placeholder {}
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}

textarea:hover, textarea:focus,
input[type="text"]:hover,input[type="text"]:focus,
input[type="password"]:hover,input[type="password"]:focus,
input[type="email"]:hover,input[type="email"]:focus {}

.gmw-address-field-wrapper, .gmw-submit-wrapper {
	display:inline-block;
	input { display:inline-block; }
}






/* Buttons
#################################################################################################### */
.btn, input.gmw-submit,
input[type="submit"],input[type="button"] {
	cursor:pointer; display:inline-block; padding:($p/2) ($p);
	background:$color-gray-light; border:none; font-size:$font-paragraph-size; font-family:$font-paragraph;
}
.btn-orange {
	font-weight:800; font-style:italic; color:$color-blue; padding:($p/4) ($p*1.5);
	background:$color-yellow; border:solid 1px $color-orange; @include border-radius(1000px);
}
input.gmw-submit,
.btn-red {
	text-transform:uppercase; color:#fff; padding:($p/4) ($p*1.5);
	background:$color-red; @include border-radius(1000px);
}
.btn-sml { padding:($p/4); }

#gmw-form-wrap {
	input.gmw-address { text-indent:7px; line-height:30px; display:inline-block; }
	.gmw-submit-wrapper { 
		margin-left:($p/2); display:inline-block;
		input.gmw-submit { padding:5px; }
	}
}






/* General Links
#################################################################################################### */


/* Main Navigation Links */
#primary-navigation {
	text-align:right;
	li { display:inline-block; }
	a { 
		font-size:11px; letter-spacing:2px; color:$color-red; font-family:$font-custom; text-transform:uppercase; line-height:14px;
		display:inline-block; padding:0 0 0 ($p); margin:0 ($p) 0 0; 
		border-left:solid 1px #000;
	}
	li:first-child a { border:none; }
	.current-menu-item a, a:hover {}
}


/* footer-navigation */
#footer-navigation {
	li { display:inline-block; }
	a { display:inline-block; padding:0 ($p/4); margin:0 ($p/4); }
}


/* Navigation */
.navigation-post {
	display:block; clear:both; text-align:left; padding:($p/4) ($p/2);
	.prev-post { padding-left:($p/2); }
	.next-post { padding-right:($p/2); }
}

.wp-pagenavi {
	a, span { padding:3px 4px; margin:3px; }
}

#navigation-breadcrumb { font-weight:bold; padding-bottom:3px; display:block; clear:both; }
.navigation-posts { font-weight:bold; padding-bottom:3px; display:block; clear:both; text-align:center; }






/* Post, Page & General Loops
#################################################################################################### */

.hentry { position:relative; }
#loop-default {
	padding-bottom:($p*4);
	.hentry { padding:($p*4) 0 ($p*2) 0; }
	.hentry:first-child { padding:0 0 ($p*2) 0; }
}



/* Meta Data */
.meta-data { color:$color-gray-med; font-family:$font-custom; }

.post-comments { padding:0 $p 0 0; }
.post-date { padding:0 $p 0 0; }
.read-more-dots { display:none; }



/* Entry - Excerpt */
#loop-default {
	.entry { clear:both; }
	.excerpt { clear:none; padding:0; }
}

a.read_more { text-decoration:underline; font-style:italic; display:block; }

.entry {
	.aligncenter { display:block; margin:0 auto $p; }
	.alignnone { clear:both; float:none; }
	.alignleft { margin-right:$p; margin-bottom:3px; }
	.alignright { margin-left:$p; margin-bottom:3px; }
	img { max-width:100% !important; height:auto !important; }
	img.wp-smiley { border:none; margin:0; padding:0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
    p { padding-bottom:($p*2); }
    blockquote {
		p { padding:0; margin:$p ($p*3) ($p*1.5) ($p*1.5); }
	}
	ol, ul { margin:$p 0 ($p*2) 20px; }
	ul { list-style:disc; }
	ol { list-style:decimal; }
	li { padding-bottom:7px; }
	strong {}
	small { font-size:11px; }
	table {
		line-height:18px;
		th, td { padding:($p/2); vertical-align:top; border-right:solid 1px #fff; }
		th { background:$color-gray-light-ex; }
	}
	.lrg-txt,
	.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
		padding-bottom:$p/2; padding-top:($p/2);
	}
} /*end .entry */

.excerpt p { padding-bottom:($p*2); }



/* Gallery Shortcode */
.gallery {
	dl.gallery-item { display:block; float:left; }

	dl dt.gallery-icon {}
	img {}
	.gallery-caption {}
}

.wp-caption {
	max-width:96%; display:block; text-align:center !important; padding:5px; background:#eee;
	p { font-size:11px; line-height:14px; padding:5px 0 7px; }
	img { display:inline; }
	.wp-caption-text {}
}



/* All sitemap style layouts - search, 404, sitemap */
.layout-sitemap .display-list {
	margin:0 2% 20px 0; width:48%; float:left;

	ul { margin:10px 0 0 0; }
	ul ul { margin:0 0 7px 15px; list-style:disc; }
	ul ul.children { padding:0; margin-left:15px; list-style:disc; }

	.site-search { display:block; padding-bottom:10px; }
}






/* Widget Areas
#################################################################################################### */
.sidebar {
	margin-bottom:($p*2);
	ul {}
	li { margin-bottom:10px; }
	li li { margin:0; }
	.widget-box {}
}






/*Books*/
.hentry-book { 
	float:left; line-height:16px; height:245px; overflow:hidden; text-align:center; 
	img { width:128px; height:195px; display:block; margin:0 auto; }
	a { display:block; }
	.post-wrap { padding:($p/2); }
}






/* Blocks
#################################################################################################### */
#header {
	padding-bottom:$p;
	.logo-text-full { max-width:240px; height:auto; padding:$p ($p*2) 0; }
	.img-header { max-width:100%; height:auto; padding:($p/4) 0 0; }
	strong { color:$color-blue; }
	
	.top-right { 
		float:right; padding:$p; 
		a, .meta-data { display:inline-block; margin:0 ($p/4); vertical-align:middle; }
		a.ic { font-size:30px; color:$color-gray-light; }
	}
}
#footer {
	.inner-wrap {
		text-align:center; padding:($p*4) 0 ($p*2);
		color:$color-gray-drk;
	}
}
#loop-books {
	text-align:center; 
	.hentry-book { width:50%; }
	.link { height:auto; }
}
#loop-sponsors {
	text-align:center;
	.hentry { 
		padding-top:$p; 
		img { border:solid 1px $color-gray-light; }
	}
}
#loop-event-dates {
	text-align:center;
	.head {
		padding-bottom:($p*2);
		p { padding-bottom:0; }
	}
	.hentry { 
		text-align:left; 
		a { display:block; color:#000; padding:$p; border-top:solid 1px $color-gray-light; }
		a:hover { background:$color-gray-light-ex; }
	}
}






/* tax-books, page-template-taxonomy-books-php
#################################################################################################### */

body.author-book-directory {
	#loop-default { padding-bottom:0; }
	#links-author-books-directory {
		font-size:$font-size-lrg-ex; padding-bottom:($p*2);
		li { display:inline-block; padding:0 ($p/2); }
	}
	#loop-archive-author-books {
		.hentry-book { width:160px; }
	}
}






/* body.tax-resources
#################################################################################################### */

body.tax-resources {
	#list-resources { 
		padding-top:($p); 
		ul { padding-bottom:($p*2); }
	}
}






/* body.page-template-tpl-search-php
#################################################################################################### */

body.page-template-tpl-search-php {
	#loop-default .hentry:first-child { padding-bottom:0; }
}






/* body.page-template-tpl-search-results-php
#################################################################################################### */

body.page-template-tpl-search-results-php, body.single-book-club {
	
	#loop-default {
		.hentry { padding-top:($p*2);}
		.hentry:first-child { padding-top:0;}
		.lrg-txt {
			padding-bottom:0;
			a { color:#000; }
			.radius-dis { font-size:$font-paragraph-size; }
		}
		.address { font-weight:800; padding-bottom:$p; }
		.entry p:last-child { padding-bottom:0; }
		.entry { 
			padding-bottom:$p; 
			.results-count { font-weight:800; padding-top:$p; color:$color-blue; }
			.pagination-wrapper-top { display:none; }
			.pagination-wrapper-bottom { padding-top:($p*2); }
			.pagination-wrapper {
				ul {
					list-style:none; margin-left:0; margin-top:0;
					li { display:inline-block; padding:0 $p; }
					li:first-child { padding-left:0; }
				}
			}
		}
		.email { 
			font-weight:800; color:$color-blue;
			.icon-envelope { font-size:16px; position:relative; top:2px; }
			a { color:$color-blue; }
		}
	}
}






/* pmpro
#################################################################################################### */
body.pmpro-levels {
	#pmpro_levels_table {
		width:100%; margin:0 0 $p;
	}
}

body.pmpro-checkout {
	#pmpro_level_cost { display:none; }
	.pmpro_thead-msg { display:none; }
}






/* Comments */
@import 'comments';
/*Responsive*/
@import 'responsive';