/* 
File Name: responsive.css
Version: 1.2
Updated: 08.16.13
Package: ParentTheme_VC
License: GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */


#gmw-form-wrap {
	div.gmw-form-wrapper {
		input[type="text"] { margin:0; padding:0; }
	}
}